@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body {
    background-color: rgb(34, 32, 32);
}

header {
    background-color: red;
    color: rgb(34, 32, 32);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 5px rgba(255, 0, 0, 0.673);
}

section {
    width: 400px;
    height: 150px;
    margin: auto;
    margin-top: 150px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 150px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 3px 3px 3px rgba(255, 0, 0, 0.29);
    background-color: whitesmoke;
    padding: 50px;
}

label, input {
    display: block;
    text-align: center;
}

label {
    font-size: 20px;
    margin-bottom: 20px;
}

input {
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 1px 1px 1px black;
    color: red;
}

button {
    background-color: rgb(34, 32, 32);
    color: red;
    border-radius: 10px;
    padding: 3px;
    cursor: pointer;
}

button:hover {
    background-color: whitesmoke;
    color: black;
    transform: scale(1.05);
}

footer {
    display: flex;
    justify-content: center;
}

a {
    margin-top: 10px;
    color: red;
    font-style: italic;
}

a:hover {
    color: whitesmoke;
    transform: scale(1.005);
}