<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>iTube Downloader</title>
</head>
<body>
    <header>
        <h1>iTube Downloader</h1>
    </header>

    <section>
        <form action="/downloading" method="GET">
            <div class="container">
                <label for="ytb-link">Insira o link do vídeo:</label>
                <input type="search" name="link" id="ytb-link" required autofocus placeholder="https://www.youtube.com/watch?v=wbjJwt1yyX0">
                <input type="submit" id="btn" value="Baixar">
            </div>
        </form>
    </section>

    <footer>
        <a href="https://github.com/niellcast" rel="external" target="_blank">@niellcast</a>
    </footer>
</body>
</html>